---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <!-- <Header/>
  <Main/> -->
    <main>
      <div class="flex items-center justify-center h-full w-full min-h-screen">
        <h1 class="flex-shrink-0 text-white select-none">
          En Desarrollo...
        </h1>
      </div>
    </main>
</Layout>
