---

---

<header>
  <nav
    class="fixed z-10 top-0 flex justify-end items-center bg-slate-600 text-black h-[8vh] w-full"
  >
    <a href="#home" class="w-[15vh] h-full text-center"> Home</a>
    <a href="#about" class="w-[15vh] h-full text-center "> About</a>
    <a href="#proyects" class="w-[15vh] h-full text-center"> Proyects</a>
    <a href="#contact" class="w-[15vh] h-full text-center"> Contact</a>
  </nav>
</header>
