---

---
<!-- TODO: revisar colores de texto hover y poner svgs minimalistas-->
<header class="fixed z-10 top-0 w-full h-[6vh] flex justify-center">
  <nav
    class="flex gap-6 items-center"
  >
  <div class="flex gap-2 font-normal text-sm">
    <a href="#home" class="w-[15vh] h-full text-center text-[#b7b8c2] hover:text-white bg-black border-border-color border rounded-full">Home</a>
    <a href="#about" class="w-[15vh] h-full text-center text-[#b7b8c2] hover:text-white bg-black border-border-color border rounded-full">About</a>
    <a href="#proyects" class="w-[15vh] h-full text-center text-[#b7b8c2] hover:text-white bg-black border-border-color border rounded-full">Proyects</a>
    <a href="#contact" class="w-[15vh] h-full text-center text-[#b7b8c2] hover:text-white bg-black border-border-color border rounded-full">Contact</a>
  </div>
  </nav>
</header>
