---

---
<!-- TODO: definir color de fondo -->
<header class="fixed z-10 top-0 w-full h-[6vh] flex justify-end">
  <nav
    class="flex gap-6 items-center"
  >
  <div class="flex">
    <a href="#home" class="w-[15vh] h-full text-center"> Home</a>
    <a href="#about" class="w-[15vh] h-full text-center "> About</a>
    <a href="#proyects" class="w-[15vh] h-full text-center"> Proyects</a>
    <a href="#contact" class="w-[15vh] h-full text-center"> Contact</a>
  </div>
  </nav>
</header>
