---
import EmailIcon from "../assets/email-icon.astro";
import GithubIcon from "../assets/github-icon.astro";
import LinkedinIcon from "../assets/linkedin-icon.astro";
---

<div class="mb-10 w-[100%] md:w-[615px] mr-0 md:mr-20">
  <p class="text-2xl mx-auto w-[80%]">
    &#x1F44B; I'm Rodrigo, i joined the world of web development at the
    beginning of 2023 and discovered one of the things that I am most passionate
    about and that is web development &#x1F680;.
    <br />
    <br />
     I currently live in Argentina, where I am a systems engineering student, in
    my 4th year, at the Universidad Adventista de la Plata, where i am a
    freelance web developer &#x1F4BB;, also looking for new opportunities that
    can help me grow as a person and professional!
  </p>
  <span class="flex gap-3 pt-10 items-center mx-auto w-[80%]"
    ><p class="font-bold text-2xl text-blue-500">
      My links
      <span class="">&#x1F449;</span>
    </p>
    <a href="#contact">
      <EmailIcon />
    </a>
    <a href="https://github.com/Rwaja" target="_blank">
      <GithubIcon />
    </a>
    <a href="https://linkedin.com/in/rhuaja/" target="_blank">
      <LinkedinIcon />
    </a>
  </span>
</div>
