<div class="md:w-auto h-auto md:h-[75%]">
    <!-- Tecnologias -->
    <p class="text-3xl text-center font-bold mb-5">Use in development</p>
    <div
      class="grid grid-cols-3 gap-6 md:gap-4 items-center justify-center text-center h-auto w-auto font-semibold text-base"
    >
      <span
        class="bg-[#e5e7eb] text-background-color px-1.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Typescript</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Next</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Astro</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-auto py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Javascript</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-auto py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >MongoDB</span
      >

      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >React</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Node</span
      >

      <span
      class="bg-[#e5e7eb] text-background-color px-1.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Mongoose</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Prisma</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Tailwind</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Express</span
      >

      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >Github</span
      >
      <span
      class="bg-[#e5e7eb] text-background-color px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >CSS</span
      >
      <span
        
        class="bg-[#e5e7eb] text-background-color col-start-3 px-2.5 py-0.5 rounded-full dark:bg-[#e5e7eb] dark:text-background-color"
        >HTML5</span
      >
    </div>