---

---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
@tailwind components;
  @font-face {
    font-family: work-sans;
    src: url({{ '/fonts/WorkSans-VariableFont_wght.ttf' | url }});
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
  }
  html{
    scroll-behavior: smooth;
    color: #ebecf3;
  }
  body {
    scroll-margin-top: 6vh;
    scroll-behavior: smooth;
    background-color: hsl(240 10% 3.9%);
  }
  header{
    background-color: rgba(22, 22, 23, .8);
    backdrop-filter: blur(10px);
  }
  @layer components {
  .nav-btn {
    @apply w-[15vh] h-full text-center hover:text-white bg-black border-border-color border rounded-full;
  }
}
</style>
